.git/
.idea/
__pycache__/
analysis/
data/new_analytics_challenge_dataset_edited.pkl
data/new_analytics_challenge_dataset_edited.xlsx
data/test.pkl
data/test.xlsx
otherFunction/

test.py

!analysis/keywords_nkey_dict.pkl
!analysis/emotion_dict.pkl